
@model SistemaWebPizzaria.Models.ViewModels.LoginModel;

@{ViewData["Title"] = "Alterar Senha";}

<h2 style="text-align : center">@ViewData["Title"]</h2>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function ($) {
        $('#menu').hide();
    });
</script>
<div class="col-md-12">

    <div class="row">
        <div class="col-md-12 text-center">

            <form id="form" class="form-signin" asp-action="TrocaSenha">
                <div class="col-md-4 col-md-offset-4">
                    @{ if (TempData["EsqueceuSenha"].ToString() != "S") {
                    <input asp-for="SenhaAtual" type="password" id="senhaAtual" class="form-control" placeholder="Senha Atual" style="margin:2px auto" />
                    <label for="inputPassword" class="sr-only">Senha Atual</label>
                    <span asp-validation-for="SenhaAtual" id="msgSenAtual" class="text-danger"></span><br />
                            } }
                    <input asp-for="SenhaNova" type="password" id="senhaNova" class="form-control" placeholder="Nova Senha" />
                    <span asp-validation-for="SenhaNova" id="msgSenNova" class="text-danger"></span><br />

                    <input asp-for="Senha" type="password" id="senhaComfirm" class="form-control" placeholder="Confirmar Senha" />
                    <span asp-validation-for="Senha" id="msgSenComfirm" class="text-danger"></span><br />

                    <button class="btn btn-lg btn-block" type="submit" style="margin:20px auto; background-color:#FF1E19; color:white;">Alterar Senha</button>
                </div>
            </form>
        </div>
    </div>
</div>


@*para halidtar validação por meio do JavaScript*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


