<div class="container my-4">
    <div class="py-1 text-center">
        <h1 class="display-4">Assinatura</h1>
        <hr>
    </div>

    <div class="row">


        <!-- dados assinatura -->

        <div class="container ">
            <h4 class="mb-3">Insira os dados abaixo</h4>

            <div class="container col-md-12 img-rounded" style="background-color:white; color:#555; box-shadow: #444 0px 3px 10px">
                <br />
                <form class="needs-validation">
                    <div class="row col-md-12">
                        <div class="col-md-3">
                            <label for="CPF">CPF/CNPJ</label>
                            <input type="text" class="form-control" id="CPF" placeholder="" value="" required>

                        </div>

                        <div class="col-md-2">
                            <label for="telefone">Telefone</label>
                            <input type="text" class="form-control" id="Telefone" placeholder="(11)" value="" required>
                        </div>
                    </div>

                    <div class="row col-md-12">

                        <div class="col-md-3">
                            <label for="firstName">Nome</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        </div>

                        <div class="col-md-3">
                            <label for="lastName">Sobrenome</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                        </div>
                    </div>


                    <div class="row col-md-12">
                        <div class="col-md-4">
                            <label for="username">E-mail</label>

                            <input type="text" class="form-control" id="username" placeholder="Endereço de e-mail" required>
                        </div>


                        <div class="col-md-4">
                            <label for="username">Confirme o E-mail</label>

                            <input type="text" class="form-control" id="username" placeholder="Confirme o e-mail" required>

                        </div>
                    </div>
                </form>         

                <div class="row col-md-12">
                    <br />
                    <hr class="alert-danger">
                    <h4 class="mb-3">Pagamento - Cartão de Crédito</h4>
                    <div class="col-md-4 ">
                        <label for="cc-name">Nome no Cartão</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required>
                        <small class="text-muted">Nome como exibído no cartão</small>

                    </div>
                    <div class="col-md-3">
                        <label for="cc-number">Número do Cartão</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required>

                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-3">
                        <label for="cc-expiration">Validade</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                        
                    </div>
                    <div class="col-md-2">
                        <label for="cc-cvv">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required>                       
                    </div>
                </div><br />
            </div>

            <div class="row col-md-12">
                <div class="col-md-2">
                    <br />
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Confimrar</button>
                </div>
            </div>
    </div>
</div>
