

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1> Planos e Preços</h1>
            <hr>
        </div>
    </div>
</div>
<br />
<br />



<!-- Cards-->

<div class="container">

    <div class="row col-lg-offset-3">

        <div class="col-md-4 text-center">
            <div class="card-body img-rounded table-bordered" style="background-color:white; box-shadow: 0px 3px 10px">
                <div class="card-body">
                    <br />
                    <img src="~/images/img003.png" alt="Visual Studio" class="img-circle" />
                    <h2 class="card-title text-info">R$ 2,00</h2>

                    <h4 class="card-subtitle alert-danger">Plano de 6 meses!</h4><br />
                    <hr class="alert-link" />
                    <button class="btn btn-danger" type="submit">Assinar</button>
                </div><br />
            </div>
        </div>


        <div class="col-md-4 text-center">
            <div class="card-body img-rounded table-bordered" style="background-color:white; box-shadow: 0px 3px 10px">
                <div class="card-body">
                    <br />
                    <img src="~/images/img003.png" alt="Visual Studio" class="img-circle" />
                    <h2 class="card-title text-info">R$ 3,00</h2>
                    <h4 class="card-subtitle alert-danger">Plano de 1 ano!</h4><br />
                    <hr class="alert-link" />
                    <button class="btn btn-danger" type="submit">Assinar</button>
                </div><br />
            </div>
        </div>
    </div>
</div>

