@model SistemaWebPizzaria.Models.Cardapiopizza

@{ViewData["Title"] = "Cadastrar Cardápio";}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <hr />
    <div class="col-md-12">
        <form method="post" asp-action="Create">
            <div class="row" style="margin-bottom:15px;">
                <div class="col-md-2">
                    <label for="Tipo">Tipo</label>
                    <select class="form-control" asp-for="Tipo" name="Tipo">
                        <option value="Esfiha">Esfiha</option>
                        <option value="Pizza">Pizza</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="Sabor">Sabor</label>
                    <input asp-for="Sabor" class="form-control" placeholder="">
                    <span asp-validation-for="Sabor" class="text-danger"></span>
                </div>


                <div class="col-md-2">
                    <label for="Tamanho">Tamanho</label>
                    <select class="form-control" asp-for="Tamanho" name="Tamanho">
                        <option value="Grande">Grande</option>
                        <option value="Pequena">Pequena</option>
                        <option value="Media">Média</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="Valor">Valor </label>
                    <input asp-for="ValorUnitario" class="form-control" placeholder="R$">
                    <span asp-validation-for="ValorUnitario" class="text-danger"></span>
                </div>


            </div>
            <div class="row" style="margin-bottom:15px;">
                <div class="col-md-12">
                    <label for="Descricao">Campo para descrição</label>
                    <textarea asp-for="Descricao" class="form-control " placeholder="Máximo 100 caracteres" aria-label="With textarea"></textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <input class="btn btn-success btn-lg" type="submit" value="Cadastrar" />
                    <a href="../Cardapios/Index" class="btn btn-danger btn-lg">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@*para halidtar validação por meio do JavaScript*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


