

@model SistemaWebPizzaria.Models.Despesa
@*  com essa declaração minha viewm tem um objeto Seller a disposição  *@

@{
    ViewData["Title"] = "Editar Despesa";
}

<h2>@ViewData["Title"]</h2>

<hr />

<br />
<div class="row">
    @*  esse div row ocupa a largura da rela  *@
    <div class="img-rounded row col-md-12" style="box-shadow: #808080 0px 1px 5px">
        <br /><br />


        <form asp-action="Edit">
            <input type="hidden" asp-for="IdDespesa" /> @*campo oculto passando o id do vendedor*@


            <div class="form-group col-md-5">

                @*  o compilador consegue entender que o "Name" é um atributo do objeto Seller *@
                <label asp-for="NomeDespesa" class="control-label"></label>
                <input asp-for="NomeDespesa" class="form-control" />

                @*mostra a validacção pendente agora abaixo do campo, (Posso usar assim ou em forma de lista como inlcuido no começo do form *@
                <span asp-validation-for="NomeDespesa" class="text-danger"></span>

            </div>

            <div class="form-group col-md-3">
                @*  o compilador consegue entender que o "Email" é um atributo do objeto Seller *@
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label asp-for="DataDespesa" class="control-label"></label>
                <input asp-for="DataDespesa" class="form-control" type="date" />
                <span asp-validation-for="DataDespesa" class="text-danger"></span>
            </div>

            <div class="form-group col-md-11">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>

            </div>

            <div class="form-group col-md-12" br>
                <br />
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div><br /><br /><br />

        </form>
    </div>
</div>


@*para halidtar validação por meio do JavaScript*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}