@model SistemaWebPizzaria.Produto

@{ViewData["Title"] = "Produtos";}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <hr />

    <div class="row col-md-12">
        <form method="get" action="#">
            <div class="col-md-3">
                <input class="form-control" type="search" placeholder="Buscar produto...">
            </div>
            <div class="col-md-1">
                <button class="btn btn-info" type="submit">Ok</button>
            </div>
        </form>
    </div><br /><br />  <hr />

    <form method="post" action="#">
        <div class="row col-md-12">

            <div class="col-md-2">
                <label for="firstName">Código</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="">
            </div>

            <div class="col-md-7">
                <label for="firstName">Nome do Produto</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="">
            </div>
        </div>


        <div class="row col-md-12">
            <br />

            <div class="col-md-2">
                <label for="">Valor Compra</label>
                <input type="text" class="form-control" id="" placeholder="R$" value="">
            </div>

            <div class="col-md-2">
                <label for="">Quantidade</label>
                <input type="number" class="form-control" id="" placeholder="" value="">
            </div>

            <div class="col-md-1">
                <label for="">Tipo</label><br />
                <select class="custom-select" id="uf">
                    <option value="">UN</option>
                    <option>KL</option>
                    <option>LT</option>
                    <option>ML</option>
                </select>
            </div>

            <div class="col-md-2">
                <label for="">Data de Compra</label>
                <input type="date" class="form-control" id="" placeholder="" value="">
            </div>

            <div class="col-md-2">
                <label for="">Data de Validade</label>
                <input type="date" class="form-control" id="" placeholder="" value="">
            </div>

        </div>

        <div class="row col-md-12">
            <br />
            <div class="col-md-2">
                <label for="">Marca</label>
                <input type="text" class="form-control" id="" placeholder="" value="">
            </div>

            <div class="col-md-1">
                <label for="">Nº NF</label>
                <input type="text" class="form-control" id="" placeholder="" value="">
            </div>

            <div class="col-md-2">
                <label for="">Tributos</label>
                <input type="text" class="form-control" id="" placeholder="R$" value="">
            </div>

            <div class="col-md-4">
                <label for="firstName">Nome do Fornecedor</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="">
            </div>

        </div>
        <div class="row col-md-12">
            <br />
            <div class="col-md-5">
                <label for="firstName">Campo para descrição</label>
                <textarea class="form-control " placeholder="Máximo 500 caracteres..." aria-label="With textarea"></textarea>
            </div>
        </div>

    </form>

    <div class="row col-md-12">
        <br /><br />
        <button class="btn btn-primary btn-lg" type="submit">Cadastrar</button>
        <button class="btn btn-danger btn-lg" type="submit">Excluir</button>
    </div>
</div>