         
            @model Double


            <div class="container-fluid">
                <div class="row col-md-12">

                    <div class="col-sm-6 col-md-offset-4 col-md-7">
                        <br /><br />
                        <form class="form-horizontal" asp-action="Entrada">
                            <fieldset>
                                <div class="form-group col-md-4">
                                    <label for="minDate">Data Início</label>
                                    <input type="date" name="minDate" class="form-control" />
                                </div>
                                <div class="form-group col-md-4 col-md-offset-1">
                                    <label for="maxDate" class="col-md-offset-1">Data Fim</label>
                                    <input type="date" name="maxDate" class="form-control col-md-offset-1" />
                                </div>
                                <div class="form-group col-md-4 col-md-offset-1">
                                    <br />
                                    <button type="submit" class="btn btn-primary col-md-offset-3">Submit</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div class="col-sm-2 col-md-2 sidebar">
                        <ul class="nav nav-sidebar">
                            <li class="active"><a asp-action="../Relatorios/Entrada">Entradas <span class="sr-only">(current)</span></a></li>
                            <li><a asp-action="../Relatorios/Saida">Saídas</a></li>
                            <li><a asp-action="../Relatorios/Ganho">Ganhos</a></li>
                            <li> <a asp-action="../Home/MenuSistema">Home</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3 col-md-7 col-md-offset-2 main">
                        <h1 class="">Total de Entradas</h1>
                        <div class="row text-center">
                            <div class="img-rounded row col-md-12" style="box-shadow: #808080 0px 1px 5px; background-color: #ffe65e">
                                <br />
                                @*<h1 class="" style="color:#424242; font-family:Impact">R$ 0,00  </h1><br /><br />*@
                                <h1 class="" style="color:#424242; font-family:Impact">R$   @Model.ToString()</h1><br /><br />

                            </div>
                        </div>
                    </div>

                </div>
            </div>







            @*<h2 class="sub-header">Section title</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                    </tr>
                    <tr>
                        <td>1,002</td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>adipiscing</td>
                        <td>elit</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>Integer</td>
                        <td>nec</td>
                        <td>odio</td>
                        <td>Praesent</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>libero</td>
                        <td>Sed</td>
                        <td>cursus</td>
                        <td>ante</td>
                    </tr>
                    <tr>
                        <td>1,004</td>
                        <td>dapibus</td>
                        <td>diam</td>
                        <td>Sed</td>
                        <td>nisi</td>
                    </tr>
                    <tr>
                        <td>1,005</td>
                        <td>Nulla</td>
                        <td>quis</td>
                        <td>sem</td>
                        <td>at</td>
                    </tr>
                    <tr>
                        <td>1,006</td>
                        <td>nibh</td>
                        <td>elementum</td>
                        <td>imperdiet</td>
                        <td>Duis</td>
                    </tr>
                    <tr>
                        <td>1,007</td>
                        <td>sagittis</td>
                        <td>ipsum</td>
                        <td>Praesent</td>
                        <td>mauris</td>
                    </tr>
                    <tr>
                        <td>1,008</td>
                        <td>Fusce</td>
                        <td>nec</td>
                        <td>tellus</td>
                        <td>sed</td>
                    </tr>
                    <tr>
                        <td>1,009</td>
                        <td>augue</td>
                        <td>semper</td>
                        <td>porta</td>
                        <td>Mauris</td>
                    </tr>
                    <tr>
                        <td>1,010</td>
                        <td>massa</td>
                        <td>Vestibulum</td>
                        <td>lacinia</td>
                        <td>arcu</td>
                    </tr>
                    <tr>
                        <td>1,011</td>
                        <td>eget</td>
                        <td>nulla</td>
                        <td>Class</td>
                        <td>aptent</td>
                    <tr>
                        <td>1,015</td>
                        <td>sodales</td>
                        <td>ligula</td>
                        <td>in</td>
                        <td>libero</td>
                    </tr>
                </tbody>
            </table>
        </div>*@
        </div>
    </div>
</div>
