

@model Double


<div class="container-fluid">

    <h2>Ganhos</h2>
    <hr />
    <div class="row col-md-12">

        <div class="col-sm-2 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a asp-action="../Relatorios/Entrada">Entradas <span class="sr-only">(current)</span></a></li>
                <li><a asp-action="../Relatorios/Saida">Saídas</a></li>
                <li><a asp-action="../Relatorios/Ganho">Ganhos</a></li>
                <li> <a asp-action="../Home/MenuSistema">Home</a></li>
            </ul>
        </div>

        <div class="col-sm-6 col-sm-offset-3 col-md-9 col-md-offset-0">
            <div class="row">
                <form class="form-horizontal col-md-offset-2" asp-action="Ganho">
                    <fieldset>
                        <div class="col-md-4">
                            @*<label>Data Início</label>*@
                            <input type="date" name="minDate" class="form-control" value=@ViewData["minDate"] />
                        </div>
                        <div class=" col-md-4">
                            @*<label>Data Fim</label>*@
                            <input type="date" name="maxDate" class="form-control" value=@ViewData["maxDate"] />
                        </div>
                        <div class="col-md-4">

                            <button type="submit" class="btn btn-primary ">Buscar</button>
                        </div>
                    </fieldset>
                </form>
            </div> <br />
            <div class="row">
                <div class="img-rounded col-md-8 text-center col-md-offset-2" style="box-shadow: #505050 0px 1px 5px; background-color: #90EE90">
                    <br />
                    <span style="color:#424242; font-family:Verdana; font-size:medium">Valor de lucro geral</span>
                    <h1 class="" style="color:#424242; font-family:Impact">R$   @Model.ToString("F2")</h1><br />
                </div>
            </div>
        </div>
    </div>
    </div>