

@model Double


@{
    ViewData["Title"] = "Meus Ganhos";
}

<div class="container-fluid">

    <h2 class="col-lg-offset-4">@ViewData["Title"]</h2>
    <hr />

    <div class="row col-md-12">

        <div class="col-sm-6 col-md-offset-4 col-md-7">
            <br /><br />
            <form class="form-horizontal" asp-action="Ganho">
                <fieldset>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label>Data Início</label>
                            <input type="date" name="minDate" class="form-control" />
                        </div>
                        <div class=" col-md-4">
                            <label>Data Fim</label>
                            <input type="date" name="maxDate" class="form-control " />
                        </div>
                        <div class="col-md-4">
                            <br />
                            <button type="submit" class="btn btn-primary ">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="col-sm-2 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a asp-action="../Relatorios/Entrada">Entradas <span class="sr-only">(current)</span></a></li>
                <li><a asp-action="../Relatorios/Saida">Saídas</a></li>
                <li><a asp-action="../Relatorios/Ganho">Ganhos</a></li>
                <li> <a asp-action="../Home/MenuSistema">Home</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-md-7 col-md-offset-2 main">
            <br />
            <div class="row text-center">
                <div class="img-rounded row col-md-12" style="box-shadow: #808080 0px 1px 5px; background-color: #90EE90">
                    <br />
                    @*<h1 class="" style="color:#424242; font-family:Impact">R$  0,00</h1><br /><br />*@
                    <h1 class="" style="color:#424242; font-family:Impact">R$   @Model.ToString("F2")</h1><br /><br />

                </div>
            </div>
        </div>
    </div>
</div>
