@page
@model SistemaWebPizzaria.Views.Gerencial.IndexModel




    <div class="container my-2">
        <div class="row text-center">
            <div class="col-12 text-center my-5">

                <div class="card-body panel-warning table-bordered">
                    <div class="card-body">
                        <br>
                        <h3 > Tela Inicial</h3>
                        <h4 class="card-title mt-4 text-info"><br />
                            Bem-Vindo ao Sistema de Gerencimamento de Pizzarias, <br>
                        </h4>
                        <h6 class="card-subtitle mb-2 text-muted">Navegue pelas opções acima na barra de menu </h6><br>
                        <p>--Em construçao--</p><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

