@model SistemaWebPizzaria.Models.Pedido;

@{ViewData["Title"] = "Novo Pedido";}

<h2>@ViewData["Title"]</h2>

<style>
    .width100{
        width:100%;
    }
</style>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $("#quantidadeCardapio").val();
    $("#quantidadeProduto").val();
    var listItempedido = [];

    ListaFuncionarios();
    ListaClientes();
    ListaCardapio();
    ListaProdutos();

    var clienteRegistrado = false;

    function ListaFuncionarios() {
        $.ajax({
            type: "GET",
            url: "ListaFuncionarios",
            dataType: 'json',
            success: function (response) {

                $.each(response, function (index, value) {
                    $("#selectFuncionarios").append("<option value=" + value.idFuncionario + ">"+value.nome+"</option>");
                });
                //console.log(response);
            }
        });
    };

    function ListaClientes() {
        $.ajax({
            type: "GET",
            url: "ListaClientes",
            dataType: 'json',
            success: function (response) {

                $.each(response, function (index, value) {
                    $("#selectClientes").append("<option value=" + value.idCliente + ">"+value.nome+"</option>");
                });
                //console.log(response);
            }
        });
    };

    function ListaCardapio() {
        $.ajax({
            type: "GET",
            url: "ListaCardapio",
            dataType: 'json',
            success: function (response) {

                $.each(response, function (index, value) {
                    $("#selectCardapio").append("<option value=" + value.idCardapio + ">" + value.tipo + " de " + value.sabor + "</option>");
                });
                //console.log(response);
            }
        });
    };

    function ListaProdutos() {
        $.ajax({
            type: "GET",
            url: "ListaProduto",
            dataType: 'json',
            success: function (response) {
                ListaProdutos = response;

                $.each(response, function (index, value) {
                    if (value.vende == 1) {
                        if (value.quantidade > 0) {
                            $("#selectProdutos").append("<option value=" + value.idProduto + ">" + value.nome + " - Valor: R$" + value.precoVenda + "</option>");
                        }
                    }
                });
                //console.log(response);
            }
        });
    };


    function AdicionarItemCardapioAoPedido() {

        var qtd = $("#quantidadeCardapio").val();
        var itemCardapioId = $("#selectCardapio").val();

        $.post('AdicionarItemCardapioAoPedido', { qtd: qtd, cardapioid: itemCardapioId},
            function (returnedData) {
                console.log(returnedData);

                listItempedido.push(returnedData);
                
                $("#tabelaProdutos").append("<tr id='tb_" + (listItempedido.length - 1) + "'><td>" + returnedData.nomeProduto + "</td><td>" + returnedData.precoUnidade + "</td><td>" + returnedData.quantidade + "</td><td>" + returnedData.total + "</td><td><a onClick='removeItem(" + (listItempedido.length - 1) + ")' class='pull-right btn btn-danger'>Deletar</a></td></tr>");

                calculaTotal();

            }
        );
    }

    function AdicionarItemProdutoAoPedido() {

        var qtd = $("#quantidadeProduto").val();
        var itemProdutoId = $("#selectProdutos").val();

        $.each(ListaProdutos, function (index, value) {
            if (value.idProduto == itemProdutoId) {

                if (value.quantidade >= qtd) {
                    $.post('AdicionarItemProdutoAoPedido', { qtd: qtd, produtoid: itemProdutoId },
                        function (returnedData) {
                            console.log(returnedData);

                            listItempedido.push(returnedData);

                            $("#tabelaProdutos").append("<tr id='tb_" + (listItempedido.length - 1) + "'><td>" + returnedData.nomeProduto + "</td><td>" + returnedData.precoUnidade + "</td><td>" + returnedData.quantidade + "</td><td>" + returnedData.total + "</td><td><a onClick='removeItem(" + (listItempedido.length - 1) + ")' class='pull-right btn btn-danger'>Deletar</a></td></tr>");

                            calculaTotal();
                        }
                    );
                } else {
                    alert("Quantidade de produto em estoque é de " + value.quantidade + " ");
                }
            } 
        });
    }

    function calculaTotal() {
        var total = 0;

        $.each(listItempedido, function (index, item) {
            total += item.total;
        });

        $("#TotalPedido").val(total);
    }

    function removeItem(idItem) {

        console.log(idItem);

        if (idItem > -1) {
            listItempedido.splice(idItem);
            $("#tb_" + idItem).remove();
        } else {
            alert("Item não encontrado");
        }
    }

    function createPedido() {

        var pedido = {
            "TipoEntrega": $("#TipoEntrega option:selected").val(),
            "FormaPagamento": $("#FormaPagamento option:selected").val(),
            "IdFuncioario": $("#selectFuncionarios option:selected").val(),
            "IdCliente": $("#selectClientes option:selected").val(),
            "Status": "Fila",
            "Descricao": $("#descricao").val(),
            "TotalPedido": $("#TotalPedido").val(),
        }

        console.log("cheguei");
        console.log(pedido);

        $.post('Create', { pedido: pedido, listItempedido: listItempedido },
            function (returnedData) {
                alert("GRAVADO COM SUCESSO");
                window.location.href = "/Pedidos/Index";
            }
        );
    }


</script>

<div class="row">
    <hr />
    <div class="col-md-12">
        <form method="post" asp-action="Create">
            <div class="row" style="margin-bottom:15px;">

                <div class="col-md-2">
                    <label for="">Entrega</label>
                    <select id="TipoEntrega" asp-for="TipoEntrega" class="form-control">
                        <option value="Retirada">Retirada na loja</option>
                        <option value="Motoboy">Entrega via motoboy</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="">Forma de pagamento</label>
                    <select id="FormaPagamento" asp-for="FormaPagamento" class="form-control">
                        <option value="debito">Cartão debito</option>
                        <option value="cretido">cartão de credito</option>
                        <option value="dinheiro">Dinheiro</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="">Lista de Funcionário</label>
                    <select id="selectFuncionarios" asp-for="IdFuncioarioNavigation.IdFuncionario" class="form-control"></select>
                </div>

                <div class="col-md-2">
                    <label for="">Cliente</label>
                    <select id="selectClientes" asp-for="IdClienteNavigation.IdCliente" class="form-control">
                        <option value="26">Sem cadastrado</option>
                    </select>
                </div>
            </div>
            <hr />
            <div class="row">

                <div class="col-md-3">
                    <label>Cardápio</label>
                    <select id="selectCardapio" class="form-control width100"></select>
                </div>

                <div class="col-md-1">
                    <label>Quantidade</label>
                    <input id="quantidadeCardapio" class="form-control width100" type="number" />
                </div>

                <div class="col-md-2">
                    <a style="margin-top:25px;" onclick="AdicionarItemCardapioAoPedido()" class="btn btn-success btn-block">Adicionar Item</a>
                </div>

                <div class="col-md-3">
                    <label>Produtos</label>
                    <select id="selectProdutos" class="form-control width100"></select>
                </div>

                <div class="col-md-1">
                    <label>Quantidade</label>
                    <input id="quantidadeProduto" class="form-control width100" type="number" />
                </div>

                <div class="col-md-2">
                    <a style="margin-top:25px;" onclick="AdicionarItemProdutoAoPedido()" class="btn btn-success btn-block">Adicionar Produto</a>
                </div>

            </div>
            <hr />
            <div style="margin: 15px 0px;">
                <table class="table table-bordered ">
                    <thead style="background-color:#808080; color:white;">
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Qtd</th>
                    <th>Total</th>
                    <th>Ações</th>
                    </thead>
                    <tbody id="tabelaProdutos">
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 pull-right">
                    <label for="">Descricao</label>
                    <textarea id="descricao" class="form-control" asp-for="Descricao" rows="2" cols="50"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 pull-right">
                    <label for="">Total</label>
                    <input id="TotalPedido" asp-for="TotalPedido" class="form-control">
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-md-12 text-right">
                    <input class="btn btn-success btn-lg" onclick="createPedido()" value="Cadastrar novo produto" />
                    <a href="/Pedidos/Index" class="btn btn-danger btn-lg">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>