@model SistemaWebPizzaria.Models.Pedido

@{ViewData["Title"] = "Novo Pedido";}

<h2>@ViewData["Title"]</h2>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    
    ListaFuncionarios();
    ListaClientes();

    var clienteRegistrado = false;

    function ListaFuncionarios() {
        $.ajax({
            type: "GET",
            url: "ListaFuncionarios",
            dataType: 'json',
            success: function (response) {

                $.each(response, function (index, value) {
                    $("#selectFuncionarios").append("<option value=" + value.idFuncionario + ">"+value.nome+"</option>");
                });
                console.log(response);
            }
        });
    };

    function ListaClientes() {
        $.ajax({
            type: "GET",
            url: "ListaClientes",
            dataType: 'json',
            success: function (response) {

                $.each(response, function (index, value) {
                    $("#selectClientes").append("<option value=" + value.idCliente + ">"+value.nome+"</option>");
                });
                console.log(response);
            }
        });
    };

    function ListaCardapio() {
        $.ajax({
            type: "GET",
            url: "ListaCardapio",
            dataType: 'json',
            success: function (response) {

                $.each(response, function (index, value) {
                    $("#selectCardapio").append("<option value=" + value.IdCardapio + ">"+ value.Tipo + " - " + value.Sabor + "</option>");
                });
                console.log(response);
            }
        });
    };

    function ListaProdutos() {
        $.ajax({
            type: "GET",
            url: "ListaProduto",
            dataType: 'json',
            success: function (response) {

                $.each(response, function (index, value) {
                    $("#selectProdutos").append("<option value=" + value.IdProduto + "> " + value.Nome + "</option>");
                });
                console.log(response);
            }
        });
    };

</script>

<div class="row">
    <hr />
    <div class="col-md-12">
        <form method="post" asp-action="Create">
            <div class="row" style="margin-bottom:15px;">

                @*incluir cardapio*@


                <div class="col-md-2">
                    <label for="">Entrega</label>
                    <select asp-for="TipoEntrega" class="form-control">
                        <option value="Retirada">Retirada na loja</option>
                        <option value="Motoboy">Entrega via motoboy</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="">Forma de pagamento</label>
                    <select asp-for="FormaPagamento" class="form-control">
                        <option value="debito">Cartão debito</option>
                        <option value="cretido">cartão de credito</option>
                        <option value="dinheiro">Dinheiro</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="">Lista de Funcionário</label>
                    <select id="selectFuncionarios" asp-for="IdFuncioarioNavigation.IdFuncionario" class="form-control"></select>
                </div>

                <div class="col-md-2">
                    <label for="">Cliente registrado?</label>
                    <select class="form-control">
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="">Cliente</label>
                    <select id="selectClientes" asp-for="IdClienteNavigation.IdCliente" class="form-control"></select>
                </div>

                <div class="col-md-2">
                    <label for="">Estado</label>
                    <select asp-for="Status" class="form-control">
                        <option value="preparando">Preparando</option>
                        <option value="entregue">Entregue</option>
                        <option value="viagem">Em viagem</option>
                        <option value="cancelado">Cancelado</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="">Cardápio</label>
                    <select id="selectCardapio" asp-for="Itemcardapio" class="form-control"></select>
                </div>
                <div class="col-md-5">
                    <label for="">Produtos</label>
                    <select id="selectProdutos" asp-for="Itemproduto" class="form-control"></select>
                </div>
                <div class="col-md-2">
                    <a asp-action="AdicionarItemAoPedido" asp-route-id="Itemcardapio" class="btn btn-success">Adicionar</a>
                </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <table class="table table-bordered">
                        <thead>
                        <th>col 1</th>
                        <th>cola 2</th>
                        <th>coal 3</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>teste 1</td>
                                <td>teste 1</td>
                                <td>teste 1</td>
                            </tr>
                            <tr>
                                <td>teste 1</td>
                                <td>teste 1</td>
                                <td>teste 1</td>
                            </tr>
                            <tr>
                                <td>teste 1</td>
                                <td>teste 1</td>
                                <td>teste 1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-4 pull-right">
                        <label for="">Total</label>
                        <input asp-for="TotalPedido" class="form-control">
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-12 text-right">
                        <input class="btn btn-success btn-lg" type="submit" value="Cadastrar novo produto" />
                        <a href="/Pedidos/Index" class="btn btn-danger btn-lg">Voltar</a>
                    </div>
                </div>
</form>
    </div>
</div>