@model SistemaWebPizzaria.Models.Pedido

@{ViewData["Title"] = "Novo Pedido";}

<h2>@ViewData["Title"]</h2>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    
    ListaFuncionarios();
    ListaClientes();

    var clienteRegistrado = false;

    function ListaFuncionarios() {
        $.ajax({
            type: "GET",
            url: "ListaFuncionarios",
            dataType: 'json',
            success: function (response) {

                $.each(response, function (index, value) {
                    $("#selectFuncionarios").append("<option value=" + value.idFuncionario + ">"+value.nome+"</option>");
                });
                console.log(response);
            }
        });
    };

    function ListaClientes() {
        $.ajax({
            type: "GET",
            url: "ListaClientes",
            dataType: 'json',
            success: function (response) {

                $.each(response, function (index, value) {
                    $("#selectClientes").append("<option value=" + value.idCliente + ">"+value.nome+"</option>");
                });
                console.log(response);
            }
        });
    };

</script>

<div class="row">
    <hr />
    <div class="col-md-12">
        <form method="post" asp-action="Create">
            <div class="row" style="margin-bottom:15px;">

                @*incluir cardapio*@


                <div class="col-md-2">
                    <label for="">Entrega</label>
                    <select asp-for="TipoEntrega" class="custom-select">
                        <option value="Retirada">Retirada na loja</option>
                        <option value="Motoboy">Entrega via motoboy</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="">Forma de pagamento</label>
                    <select asp-for="FormaPagamento" class="custom-select">
                        <option value="debito">Cartão debito</option>
                        <option value="cretido">cartão de credito</option>
                        <option value="dinheiro">Dinheiro</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="">Lista de Funcionário</label>
                    <select id="selectFuncionarios" asp-for="IdFuncioarioNavigation.IdFuncionario"></select>
                </div>

                <div class="col-md-2">
                    <label for="">Cliente registrado?</label>
                    <select class="custom-select">
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="">Cliente</label>
                    <select id="selectClientes" asp-for="IdClienteNavigation.IdCliente"></select>
                </div>

                <div class="col-md-2">
                    <label for="">Total</label>
                    <input asp-for="TotalPedido" class="form-control">
                </div>

                <div class="col-md-2">
                    <label for="">Estado</label>
                    <select asp-for="Status" class="custom-select">
                        <option value="preparando">Preparando</option>
                        <option value="entregue">Entregue</option>
                        <option value="viagem">Em viagem</option>
                        <option value="cancelado">Cancelado</option>
                    </select>
                </div>
            </div>
            @*<div class="row" style="margin-bottom:15px;">
                    <div class="col-md-3">
                        <label for="">Nº NotaFiscal</label>
                        <input asp-for="NotaFiscal" class="form-control">
                    </div>

                    <div class="col-md-3">
                        <label for="">Marca</label>
                        <input asp-for="Marca" type="text" class="form-control">
                    </div>

                    <div class="col-md-4">
                        <label for="firstName">Nome do Fornecedor</label>
                        <input asp-for="NomeFornecedor" class="form-control">
                    </div>

                    <div class="col-md-4">
                        <label for="firstName">Nome do Fornecedor</label>
                        <input asp-for="Categoria" class="form-control">
                    </div>

                    <div class="col-md-4">
                        <label for="firstName">Nome do Fornecedor</label>
                        <input asp-for="Vende" class="form-control">
                    </div>

                </div>*@
                <div class="row">
                    <div class="col-md-12 text-right">
                        <input class="btn btn-success btn-lg" type="submit" value="Cadastrar novo produto" />
                        <a href="/Pedidos/Index" class="btn btn-danger btn-lg">Voltar</a>
                    </div>
                </div>
        </form>
    </div>
</div>